
.main {
  margin: 0px 40px 0px 40px;
}

.summary, .education, .experience, .activities, .skills {
  padding-top: 10px;
  font-size: 20px;
  font-weight: bold;
  border-bottom: 2px solid black;
  height: auto;
}

.container {
  padding-top: 5px;
}

.position {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 100px;
  position: relative;
  margin-bottom: 2px;
}

.position-details {
  text-align: right;
}

.company-name {
  font-style: italic;
}

.position-name, .skill-type {
  font-weight: bold;
}


.skill-list {
  flex: 1;
}

.explanationPoints {
  padding-left: 20px;
  padding-bottom: 1px;
}

.skills-container {

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
